<!-- <label>Server Name</label> -->
<!-- <input type="text" class="form-control" 
 (input)="onUpdateServer($event)"
/> -->
<!-- <input type="text" class="form-control" 
 [(ngModel)] = "serverMsg"
/>
<button class="btn btn-primary" [disabled] = "!allowNewServer"
(click)="onCreateServer()"
>
    Add Server
</button>
<br/>
<p *ngIf = "serverCreated; else noServer" [innerHtml]="serverCreationMsg"></p>
<ng-template #noServer>
    <p>No Server was created.</p>
</ng-template>
 <app-server *ngFor = "let server of servers"></app-server> -->

<!-- <label>UserName</label>
<input type="text" class="form-control" 
 [(ngModel)] = "userName"
/>

<p>{{userName}}</p>

<button class="btn btn-primary" [disabled] = "!onButtonClick()"
 (click)="userNameUpdate()"
>
    Submit
</button> -->

<!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf = "showSecret">Secret password  = tuna</p>
<div 
    *ngFor = "let logItem of log; let i = index"
    [ngStyle] = "{backgroundColor : i >=4 ? 'blue' : 'transparent'}"
    [ngClass] = "{'white-text' : i >=4 }"
>
    {{logItem}}
</div>